<div class="content">
    <div class="div-mark">
        <img src="assets/images/logo-white.svg">
    </div>
    <div class="div-info">
        <h1 fxShow.gt-sm
        fxHide.sm
        fxHide.xs>This is Show.gt-sm Hello, I'm Chelsea.<br>Experience Designer &amp; Product Manager.<br>Occasional programmer. Always creative.</h1>
        <h1 fxShow.lt-sm
        fxHide.gt-sm>Hello, I'm Chelsea.<br>Experience Designer &amp; Product Manager.<br>Occasional programmer. Always creative.</h1>
        <p fxShow.gt-sm
        fxHide.sm
        fxHide.xs>I specialize in simplifying the complex, seen in my work <a [routerLink]="['/projects']">Projects</a>.
        <br>Feel free to <a [routerLink]="['/contact']">contact me</a> or connect with me on <a href="http://www.linkedin.com/in/chelseapattee">LinkedIn</a>.</p>
        <p fxShow.lt-sm
        fxHide.gt-sm>I specialize in simplifying the complex, seen in my work <a [routerLink]="['/projects']">Projects</a>.
        <br>Feel free to <a [routerLink]="['/contact']">contact me</a> or connect with me on <a href="http://www.linkedin.com/in/chelseapattee">LinkedIn</a>.</p>
    </div>
</div>